@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menuitem {
    @apply mt-3 hover:opacity-80 color3 text-sm flex gap-3 items-center font-normal;
  }
  .singBtn {
    @apply w-full bg-blue-600 hover:bg-blue-700 tracking-widest py-3 rounded mt-6 text-white font-medium;
  }
}
@layer utilities {
  .font14 {
    font-size: 14px;
  }
  .color1 {
    color: #9696b4;
  }
  .color2 {
    color: #80809e;
  }
  .color3 {
    color: #212121;
  }
  .color4 {
    color: #7b7a7a;
  }
  .menuitem svg {
    font-size: 1.1rem;
  }
  .menuitem button {
    font-weight: 400;
  }
  .input-control {
    position: relative;
    width: 100%;
    height: 3rem;
    margin-top: 10px;
  }
  .input-label {
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    line-height: inherit;
    left: 1rem;
    top: 0.8125rem;
    padding: 0 0.25rem;
    color: #212121;
    pointer-events: none;
    letter-spacing: 0.4px;
    background: rgb(229 231 235 / 1);
    transition: all 0.3s ease;
  }
  .input-field {
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    height: auto;
    padding: 0.6875rem 1.25rem;
    z-index: 1;
    border: 1px solid #878e87;
    outline: none;
    border-radius: 0.5rem;
    color: #212121;
    background: transparent;
    transition: all 0.3s ease;
  }
  .input-field::placeholder {
    opacity: 0;
    visibility: hidden;
    color: transparent;
  }
  .input-field:focus {
    border: 1px solid #1a73e8;
  }

  .input-field:not(:-moz-placeholder-shown).input-field:not(:focus)
    + .input-label {
    font-size: 0.8rem;
    font-weight: 500;
    top: -0.55rem;
    left: 1rem;
    z-index: 5;
  }
  .input-field:not(:-ms-input-placeholder).input-field:not(:focus)
    + .input-label {
    font-size: 0.9rem;
    font-weight: 500;
    top: -0.55rem;
    left: 1rem;
    z-index: 5;
  }
  .input-field:not(:placeholder-shown).input-field:not(:focus) + .input-label {
    font-size: 0.8rem;
    font-weight: 500;
    top: -0.55rem;
    left: 1rem;
    z-index: 5;
  }

  .input-field:focus + .input-label {
    font-size: 0.8rem;
    font-weight: 500;
    top: -0.55rem;
    left: 1rem;
    z-index: 5;
    color: #1a73e8;
  }
  #reload_href {
    color: red;
  }
  .capcha > div {
    display: flex;
    gap: 15px;
  }
  .capcha > div svg {
    fill: #000000;
  }
  .capcha > div svg:active {
    fill: #736666;
  }

  input[type="radio"] {
    display: none;
  }
  .gender-field {
    position: relative;
  }
  .gender-field input[type="radio"] + label {
    position: relative;
    color: #202124;
    font-size: 14px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
  }

  .gender-field input[type="radio"] + label::before {
    transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(128, 136, 153);
    border: 0px solid rgb(37 99 235 / 1);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }

  .gender-field input[type="radio"] + label::after {
    transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
    content: "";
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgb(128, 136, 153);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }

  .gender-field input[type="radio"]:checked + label::before {
    background-color: transparent;
    width: 28px;
    height: 28px;
    border-width: 2px;
  }

  .gender-field input[type="radio"]:checked + label::after {
    width: 18px;
    height: 18px;
  }
  .blood-grp {
    color: #fff;
    padding: 8px 7px;
  }
  .blood-group input[type="radio"] + label {
    background: rgba(166, 168, 170, 0.94);
    color: #212121;
    padding: 5px;
    border-radius: 100px;
    width: 50px;
    height: 29px;
    display: inline-block;
    text-align: center;
    margin-right: 7px;
    margin-top: 9px;
    cursor: pointer;
    user-select: none;
    font-weight: 500;
    font-size: 14px;
  }
  .blood-group input[type="radio"]:checked + label {
    transition: transform 250ms cubic-bezier(0, 0.86, 0.9, 1.36);
    background: #282828;
    color: #fff;
  }

  .selectbox {
    position: relative;
    overflow: hidden;
  }

  .selectbox::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 0.5rem;
    width: 0;
    height: 0;
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  }

  select {
    width: 3.4rem;
    border: 1px solid #aeabab;
    border-radius: 0.25rem;
    background-color: #fff;
    outline: 0;
    cursor: pointer;
    appearance: none;
    font-size: 14px;
    padding-left: 4px;
  }

  .hidebar::-webkit-scrollbar {
    display: none;
  }

  .hidebar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .accordion-item {
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(1, 0, 1, 0);
    height: auto;
    max-height: 9999px;
  }
  .accordion-item.collapsed {
    max-height: 0;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  }

  .switch::before,
  .switch::before {
    background: #bdbdbd;
  }
  input:checked + .switch,
  input:checked + .switch {
    background: rgba(128, 203, 196, 0.5);
  }
  input:checked + .switch::before,
  input:checked + .switch::before {
    background: #80cbc4;
  }
  input:checked + .switch:active::before,
  input:checked + .switch:active::before {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.28),
      0 0 0 1.25rem rgba(128, 203, 196, 0.2);
  }

  .switch {
    display: inline-block;
    position: relative;
    width: 2.5rem;
    height: 1rem;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.26);
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    vertical-align: middle;
    cursor: pointer;
  }
  .switch::before {
    content: "";
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    background: #fafafa;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1),
      background 0.28s cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .switch:active::before {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.28),
      0 0 0 1.25rem rgba(128, 128, 128, 0.1);
  }
  input:checked + .switch {
    background: rgba(39, 129, 208, 0.5);
  }
  input:checked + .switch::before {
    left: 1.25rem;
    background: #1491ff;
  }
  input:checked + .switch:active::before {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.28),
      0 0 0 1.25rem rgba(74, 127, 195, 0.2);
  }

  .animte-flip {
    animation: flip 0.5s cubic-bezier(0, 0, 0.2, 1) forwards;
  }
  @keyframes flip {
    0% {
      opacity: 0;
      transform: translateY(25%);
    }
    100% {
      opacity: 1;

      transform: translateY(0);
    }
  }
  .otpinp{
    width:3rem !important;
  }

.menu + div {
  width:100%
}
}
